html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

.page {
    height: 100%;
    font-family: var(--font-family, sans-serif);
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-reset {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.container-field {
    margin: 0 auto;
    padding: var(--container-field-offset);
    max-width: var(--container-field-width);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.centered {
    text-align: center;
}

:root {
    --font-family: "Neue Montreal", sans-serif;
    --content-width: 1280px;
    --container-offset: 15px;
    --container-field-offset: 0 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-field-width: 1660px;

    --white-color: #fff;
    --main-color: #be3455;
    --secondary-color: #fcaebb;
    --heather-color: #bfcad6;
}

.block {
    opacity: 0;
}